PyPDF2==3.0.1
PyMuPDF==1.24.3
google-generativeai==0.5.4
anthropic==0.25.8
pymongo==4.7.2
openai==1.34.0
Flask==3.0.3
Flask-Cors==4.0.1
asgiref==3.8.1
pypandoc==1.13
pytesseract==0.3.10
pdfplumber==0.11.0
Werkzeug==3.0.3
gunicorn
